<?xml version="1.0" encoding="UTF-8"?>

<!-- Version 1.1.0 -->

<RDMIScale>
<Azure>
<!--Settings required to authenticate to Azure subscription -->
<Variable Value="My AAD tenant ID GUID" Name="AADTenantId"/>
<Variable Value="My AAD application ID GUID" Name="AADApplicationId"/>
<!--<Variable Value="My thumbprint of the cert added to the AAD Service Principal" Name="AADAppCertThumbprint"/>-->
<Variable Value="My AAD Application Secret" Name="AADServicePrincipalSecret"/>
<!--Azure subscription name -->
<Variable Value="My Subscription Name" Name="CurrentAzureSubscriptionName"/>
<!--Resource Group Name -->
<Variable Value="My name for the Azure Resource Group which contains the RDSH VMs" Name="ResourceGroupName"/>
<Variable Value="MS-RDS" Name="TenantName"/>
</Azure>
<Deploymnet>
  <Variable Name="Rdbroker" Value="Deploymnet URL of RDMI Environment"/>
  <Variable Name="Username" Value="Provide Delegated Admin UserName"/>
  <Variable Name="Password" Value="Provide Delegated Admin Password"/>
</Deploymnet>

<RdmiTScaleSettings>
<!-- Begin of the peak usage time -->
<Variable Value="08:00:00" Name="BeginPeakTime"/>
<!-- End of the peak usage time -->
<Variable Value="18:00:00" Name="EndPeakTime"/>
<!-- Time difference between local time and UTC, in hours -->
<Variable Value="-7" Name="TimeDifferenceInHours"/>
<!-- Maximum number of sessions per CPU threshold used to determine when a new RDSH server needs to be started -->
<Variable Value="3" Name="SessionThresholdPerCPU"/>
<!-- Minimum number of RDSH servers to keep running during off-peak usage time -->
<Variable Value="1" Name="MinimumNumberOfRDSH"/>
<!--Number of seconds to wait before forcing users to logoff. If 0, don't force users to logoff -->
<Variable Value="120" Name="LimitSecondsToForceLogOffUser"/>
<!--Message title sent to a user before forcing logoff -->
<Variable Value="System Under Maintenance" Name="LogOffMessageTitle"/>
<!--Message body to sent to a user before forcing logoff -->
<Variable Value="Please save your work and logoff!" Name="LogOffMessageBody"/>
</RdmiTScaleSettings>

</RDMIScale>