@using Newtonsoft.Json.Linq
@model JArray
@{
    ViewData["Title"] = "Home Page";
    //Layout = "_Layout.cshtml";
}
<div class="overlay">
    <div class="flyoutpanel">

        @using (Html.BeginForm("Form", "Home", FormMethod.Get))
        {
            <h4>Please select a Tenant Group</h4>

            @Html.Label("Tenantgroup", "Tenant Group")
            @Html.DropDownList("TenantGroupDropDown",
                                new SelectList(Model),
                                "Select Tenant Group",
                                new { @class = "form-control" })
            <div class="footer">
                <button type="button" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
            
        }
    </div>
</div>


