@model IEnumerable<MSFT.WVD.Monitoring.Common.Models.RoleAssignment>
@{
    ViewData["Title"] = "Home Page";
    //Layout = "_Layout.cshtml";
}
<div class="overlay">
    <div class="flyoutpanel">

        @using (Html.BeginForm("Form", "Home", FormMethod.Post))
        {
        <div class="flyoutpanel-header">
            <h4>Please select a Tenant Group</h4>
            <button class="close" href="" id="btnSlideClose"><i class="fa fa-times"></i></button>

            @Html.Label("Tenantgroup", "Tenant Group")


            @Html.DropDownList(
    "ddlTenantGroup",
    new SelectList(
        Model.Select(x => new { Value = x.tenantGroupName, Text = x.tenantGroupName}),
        "Value",
        "Text"



    )
)
        </div>
           
            <div class="footer">
                <input type="submit" value="Cancel" class="btn-secondary" />
                <input type="submit" value="Save" class="btn-default" />


            </div>

        }
    </div>
        </div>


