@model MSFT.WVD.Monitoring.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.ShowDialog)
{
    <div class="overlay">
        <div class="flyoutpanel">

            <form asp-controller="Home" asp-action="Save" method="post">
                <div class="flyoutpanel-header">
                    <h4>Please choose Tenant Group &amp; Tenant</h4>
                    <div class="form-group">
                        <label asp-for="SubmitData.TenantGroupName" class="control-label"></label>
                        <input asp-for="SubmitData.TenantGroupName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SubmitData.TenantName" class="control-label"></label>
                        <input asp-for="SubmitData.TenantName" class="form-control" />
                    </div>
                </div>
                <div class="footer">
                    <input type="submit" value="cancel" class="btn btn-secondary" />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

