@model MSFT.WVD.Monitoring.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.ShowDialog)
{
    <div class="ms-PanelExample">
        <div class="flyoutpanel ms-Panel is-open">
            <form asp-controller="Home" asp-action="Save" method="post">
                <div class="flyoutpanel-content-wrap">
                    <div class="flyoutpanel-header">
                        <h4>Please choose Tenant Group &amp; Tenant</h4>
                    </div>
                    <div class="flyoutpanel-content">
                        <div class="flyoutpanel-controls">
                            <label asp-for="SubmitData.TenantGroupName" class="control-label">TenantGroupName<span class="red">*</span></label>
                            <input asp-for="SubmitData.TenantGroupName" class="form-control m-b-10" id="tenantgrp"/>
                            <span asp-validation-for="SubmitData.TenantGroupName" class="error-msg validate"></span>
                            <label asp-for="SubmitData.TenantName" class="control-label">TenantName<span class="red">*</span></label>
                            <input asp-for="SubmitData.TenantName" class="form-control m-b-10" id="tenant"/>
                            <span asp-validation-for="SubmitData.TenantName" class="error-msg validatetenant"></span>
                        </div>
                    </div>
                    <div class="flyoutpanel-footer">
                        <button type="reset" class="ms-Button">
                            <span class="ms-Button-label">Cancel</span>
                        </button>
                        <button type="submit" class="ms-Button" id="save">
                            <span class="ms-Button-label">Save</span>
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#save').attr("disabled", true);
            $('#save').removeClass("primary-btn");
        })
        $("#tenantgrp").keyup(function () {
            $('.validate').hide();
            $('#save').removeAttr("disabled");
            $('#save').addClass("primary-btn");
        })
        $("#tenant").keyup(function () {
            $('.validatetenant').hide();
            $('#save').removeAttr("disabled");
            $('#save').addClass("primary-btn");
        })
    </script>
