@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

    $(document).ready(function () {
        $(".EnterDate").datepicker();
    });
</script>

<div class="marginleft">


    <form method="get">
        <br />
        <div class="row form-group">
            <div class="form-inline col-md-4">
                <label for="userupn">User UPN:<span>*</span></label>
                <input type="text" name="userupn" class="form-control">
            </div>
        </div>
        @*<div class="row form-group">
            <div class="form-inline col-md-4" id="EnterDate">
                <label for="userupn">EnterDate<span>*</span></label>
                <input type="text" name="userupn" class="form-control">
            </div>
        </div>*@


        <div class="row form-group">
            <div class="form-inline col-md-4">
                <label><b>Activity Type</b></label>
                <select class="form-control" style="font-size:13px;">
                    <option value="Connection" selected>Connection</option>
                    <option value="Management">Management</option>
                    <option value="Feed">Feed</option>

                </select>
            </div>

            <div class="form-inline col-md-4">
                <label><b>Outcome</b></label>
                <select class="form-control" style="font-size:13px;">
                    <option value="Connection" selected>All</option>
                    <option value="Management">Failure</option>
                    <option value="Feed">Success</option>

                </select>
            </div>
        </div>
        <div class="row" style="margin-left:1px;">
            <button type="button" class="btn btn-default">Search</button>
        </div>
    </form>


</div>