<div id="main" class="content-main">
  <div class="rdsDeploymnt-leftcontent">
    <h3>WVD Tenants</h3>
    <div class="col-xs-12 marginLeft7">
      <p class="fontSize12"><i class="icon icon-info searchInfo"></i> Click on arrow(<i class="icon icon-chevron-right arrowIcn"></i>) icon to Expand/Collapse menus.</p>
      <button id="btnRefreshMenu" style="display:none;">Refresh</button>
    </div>
    <div class="col-xs-12 no-pad">
      <div class="accordion">
        <div class="deployment-accordion">
          <ul class="deployment-accordion_list">
            <li>
              <input id="group-1" type="checkbox" hidden />
              <label for="group-1" [ngClass]="{'selectedAll':selectedAllTenants === true,'selectedAllparent': selectedAllTenants !== true }" (click)="RedirectToTenants(displayTenantList)">
                <a class="sub-menu">Tenants</a>
              </label>
              <ul class="sub-group-list-open">
                <li *ngFor=" let tenants of displayTenantList; let y = index">
                  <input id="sub-group-{{tenants.tenantName}}" type="checkbox" hidden />
                  <label [ngClass]="{'selectedTenant':selectedTenant === y && selectedAllTenants !== true, 'selectedparentTenant': selectedHostPool !== null && selectedTenant === y && selectedAllTenants !== true }" (click)="SetSelectedTenant(y, tenants.tenantName,tenants.azureSubscriptionId)" [routerLink]="['tenantDashboard/', tenants.tenantName]" style="padding-left: 24px;">
                    <span [ngClass]="{'icon': true, 'icon-chevron-right' : selectedTenant !== y, 'icon-chevron-down' : selectedTenant === y}"></span>
                    <a class="sub-menu">
                      <span class="marginRight3">
                        <i class="icon icon-win-contact iconAlignment"></i>
                      </span>{{tenants.tenantName}}
                    </a>
                  </label>
                  <ul class="sub-sub-group-list hostPad" *ngIf="selectedTenant === y">
                    <li *ngFor="let hostpool of hostPoolList; let z = index">
                      <a [routerLink]="['hostpoolDashboard/', hostpool.hostPoolName]" (click)="SetSelectedhostPool(z,tenants.tenantName,hostpool.hostPoolName)" [ngClass]="{'selected':selectedHostPool === z && selectedTenant === y && selectedAllTenants !== true}">
                        <span class="marginRight3" [hidden]="true">
                          <i class="icon icon-win-hostserver iconAlignment"></i>
                        </span>
                        {{hostpool.hostPoolName}}
                      </a>
                    </li>
                  </ul>
                </li>
                <li *ngIf="loadMore">
                  <a style="margin-left: 0; font-weight: bold;padding-left: 25%;" (click)='FilterData(tenantList)' id="loadmore">Load More ...</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>
  <div class="rdsDeploymnt-rightcontent">
    <router-outlet>
    </router-outlet>
  </div>
</div>
