<div *ngIf="appLoader" class="ngLoader">
  <div>
    <img src="assets/Images/loading.gif" />
  </div>
</div>

<nav class="navbar navbar-inverse headerNav" *ngIf="isInvalidToken">
  <div>
    <div class="navbar-header">
      <a class="navbar-brand"><img src="../assets/Images/Microsoft_logo.png"
          class="logo" /><span>&nbsp;&nbsp;Microsoft</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a>Windows Virtual Desktop</a></li>
      <li style="height: 50px;">
        <app-breadcrum></app-breadcrum>
      </li>
    </ul>
    <div class="profile">
      <ul class="nav navbar-nav pull-right" style="margin-top: -1px;">
        <li style="width:50px;"
          [ngClass]="{  'login-details-active': NotificationHighlight, 'login-details-inactive': !NotificationHighlight }">
          <a (click)="OpenMainNotification($event)">
            <span class="icon icon-bell-outline"></span>
            <span class="notification" *ngIf="NotificationList.length!=0">{{NotificationList.length}}</span>
          </a>
          <div class="notificationpopup" *ngIf="showNotificationDialog">
            <h4>Notification</h4>
            <a class="close" (click)="CloseMainNotification($event)"
              style="margin-top: 40px;position: fixed !important"><i aria-hidden="true" class="icon icon-close"></i></a>
            <div class="col-xs-12 no-Notify" *ngIf="NotificationList.length==0">
              <span>
                No new notifications from this session
              </span>
            </div>
            <ul class="notification-list">
              <li *ngFor="let data of NotificationList">
                <div class="col-xs-1 no-pad"><i class="{{data.icon}}"></i></div>
                <div class="col-xs-11 no-pad">
                  <p class="notification-text">
                    {{data.title}}
                  </p>
                </div>
                <div class="col-xs-12">
                  <span>{{data.msg}}</span>
                </div>
                <p class="pull-right">{{data.time | date:'shortTime'}}</p>
                <a class="close"><i class="icon icon-close" (click)="NotifyClose(data)"></i></a>
              </li>
            </ul>
          </div>
        </li>
        <li (clickOutside)="OnClickedOutside()" class="login-details" (click)="OpenSignOut()"
          [ngClass]="{ 'login-details-active': isSingoutButton, 'login-details-inactive': !isSingoutButton  }">
          <div>
            <div style="overflow: hidden; float:left; padding-top:10px; cursor:pointer;">
              <span style="padding-left:35px;">{{profileName}}<br /><span
                  style="font-size:10px;float: right;">{{roleDefinitionName}}</span>&nbsp;</span>&nbsp;<br />
            </div>
            <div class="profile_icon">
              <span>{{profileIcon}}</span>
            </div>
          </div>
          <div
            style="background-color:#484848; height:180px;width:350px; position:fixed; top:53px; right:0px; float:right;"
            id="signoutTray" [@slidetoggle]="state">
            <div style="padding:10px 20px 10px 20px;" class="row">
              <div class="profile_icon">
                <span>{{profileIcon}}</span>
              </div>
            </div>
            <div style="padding:5px 20px 0px 20px; color:#fff;">
              <p style="margin-top:0px; margin-bottom:0px"><span
                  style="font-weight:bold; font-size:15px;">{{profileName}} </span><span>({{roleDefinitionName}})</span>
              </p>
              <p><span>{{profileEmail}}</span></p>

              <p style="border-bottom:1px solid #666666; margin:0px"></p>
              <p><span><b>Infrastructure Permission</b></span><br /><span>{{InfraPermission}}</span></p>
              <!--<p><span><b>Infrastructure Permission</b></span><br /><span>{{scope}}</span></p>-->
              <p style="border-bottom:1px solid #666666; margin:0px"></p>
              <p><span><b>App Version</b></span><br /><span>1.0.1</span></p>
            </div>
            <div class="signout-block">
              <p style="border-bottom:1px solid #666666; margin:0px"></p>
              <p class="signout" (click)="Signout()">Sign out</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="mySidenav" class="sidenav" *ngIf="isInvalidToken">
  <a href="javascript:void(0)" class="menu-opener" onclick="toggleNav()" style="width: 100%;
    text-align: left;"><span class="icon icon-chevron-right"></span></a>
  <a (click)="OnClickHome()"><span class="icon icon-home-outline"></span><span class="menu-text">Home</span> </a>
</div>

<div>
  <router-outlet (activate)='onActivate()'>
  </router-outlet>
</div>