<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSFT.WVD.Monitoring</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
       
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand">
                    @*<img class="logo" src="../assets/Images/Microsoft_logo.png">*@
                    <img class="logo" src="~/images/Microsoft_logo.png" />
                    <span class="title">&nbsp;&nbsp;Microsoft</span>
                </a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand title">Windows Virtual Desktop</a>
            </div>

            @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </div>*@
            <div class="pull-right">
                <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="user-details">
                        <span>WVD Demo</span>
                        <label>RDS Owner</label>
                    </div>
                    <div class="user-initials">WD</div>
                </div>
                <ul class="dropdown-menu dropdown" style="right:0;left: inherit;">
                    <li style="padding:10px 20px 10px 20px;">
                        <span class="user-initials">WD</span>
                    </li>
                    <li>
                        <div style="padding:5px 20px 0px 20px; color:#fff;">
                            <p style="margin-top:0px; margin-bottom:0px">
                                <span style="font-weight:bold; font-size:15px;">WVD Demo</span><span>(RDS owner)</span>
                            </p>
                            <p><span>wvd.demo@PeopleTechCSP.onmicrosoft.com</span></p>

                            <p style="border-bottom:1px solid #666666; margin:0px"></p>
                            <p><span><b>Infrastructure Permission</b></span><br /><span>Default Tenant Group</span></p>
                            <p style="border-bottom:1px solid #666666; margin:0px"></p>
                        </div>
                    </li>
                  
                    <li>
                        <form>
                            <button type="submit" class="btn btn-link btn-logout">Sign out</button>
                        </form>
                    </li>
                </ul>
            </div>
           
        </div>
     
    </nav>
   

    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        <div class="vertical-menu">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-home"></i>
                        <span>Diagnose Issues</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="About">
                        <i class="fa fa-home"></i>
                        <span>Deployment Health</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                        <i class="fa fa-home"></i>
                        <span>Application View</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                        <i class="fa fa-home"></i>
                        <span>User Report</span>
                    </a>
                </li>
            </ul>
        </div>

            @RenderBody()
      
        
        @*<hr />*@
        @*<footer>
            <p>&copy; 2019 - MSFT.WVD.Monitoring</p>
        </footer>*@
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
